*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/androidTestResultsUserPreferences.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetDropDown.xml
.kotlin/
.idea/other.xml
.idea/deploymentTargetSelector.xml
**/build/
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.edit.xml
